{% load static %}
<script type="text/javascript" src="{% static 'tasdesk-frontend/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tasdesk-frontend/js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'tasdesk-frontend/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tasdesk-frontend/js/jquery.mCustomScrollbar.js' %}"></script>
<script type="text/javascript" src="{% static 'tasdesk-frontend/lib/slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tasdesk-frontend/js/scrollbar.js' %}"></script>
<script type="text/javascript" src="{% static 'tasdesk-frontend/js/script.js' %}"></script>
