	{% load static %}
<header>
			<div class="container">
				<div class="header-data">
					<div class="logo" style="margin-right:10px;" width="80" height="60">
						<a href="{% url 'home:home' %}"  title=""><img src="{% static 'tasdesk-frontend/images/tasdesk-logo.jpg' %}"  height="45"  alt=""></a>
					</div><!--logo end-->
					<div class="search-bar">
						<form>
							<input type="text" name="search" placeholder="Ara...">
							<button type="submit"><i class="la la-search"></i></button>
						</form>
					</div><!--search-bar end-->
					<nav>
						<ul>
							<li>
								<a href="{% url 'home:home' %}" title="">
									<span><img src="{% static 'tasdesk-frontend/images/icon1.png' %}" alt=""></span>
									Anasayfa
								</a>
							</li>
							<li>
								<a href="{% url 'designs:index' %}" title="">
									<span><img src="{% static 'tasdesk-frontend/images/icon3.png' %}" alt=""></span>
									Tasarım Ara
								</a>
							</li>
							<li>
								<a href="{% url 'adverts:index' %}" title="">
									<span><img src="{% static 'tasdesk-frontend/images/icon5.png' %}" alt=""></span>
									İlanlar
								</a>
							</li>
                            {% if user.is_authenticated %}
                            <li>
								<a href="{% url 'accounts:profile' request.user.username %}" title="">
									<span><img src="{% static 'tasdesk-frontend/images/icon4.png' %}" alt=""></span>
									Profilim
								</a>
							</li>
							<li>
								<a href="#" title="" class="not-box-open">
									<span><img src="{% static 'tasdesk-frontend/images/icon6.png' %}" alt=""></span>
									Mesajlar
								</a>
								<div class="notification-box msg">
									<div class="nt-title">
										<h4>Ayarlar</h4>
										<a href="#" title="">Tümünü Temizle</a>
									</div>
									<div class="nott-list">
										<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="{% static 'tasdesk-frontend/images/resources/ny-img1.png' %}" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="messages.html" title="">Jassica William</a> </h3>
							  					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="{% static 'tasdesk-frontend/images/resources/ny-img2.png' %}" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="messages.html" title="">Jassica William</a></h3>
							  					<p>Lorem ipsum dolor sit amet.</p>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="{% static 'tasdesk-frontend/images/resources/ny-img3.png' %}" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="messages.html" title="">Jassica William</a></h3>
							  					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua.</p>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="view-all-nots">
						  					<a href="messages.html" title="">Tüm Mesajları Görüntüle</a>
						  				</div>
									</div><!--nott-list end-->
								</div><!--notification-box end-->
							</li>
							<li>
								<a href="#" title="" class="not-box-open">
									<span><img src="{% static 'tasdesk-frontend/images/icon7.png' %}" alt=""></span>
									Bildirimler
								</a>
								<div class="notification-box">
									<div class="nt-title">
										<h4>Ayarlar</h4>
										<a href="#" title="">Tümünü Temizle</a>
									</div>
									<div class="nott-list">
										<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="{% static 'tasdesk-frontend/images/resources/ny-img1.png' %}" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="{% static 'tasdesk-frontend/images/resources/ny-img2.png' %}" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="{% static 'tasdesk-frontend/images/resources/ny-img3.png' %}" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="{% static 'tasdesk-frontend/images/resources/ny-img2.png' %}" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="view-all-nots">
						  					<a href="#" title="">Tüm Bildirimleri Gör</a>
						  				</div>
									</div><!--nott-list end-->
								</div><!--notification-box end-->
							</li>
                            {% else %}
                                <li>
                                    <a href="{% url 'accounts:register_view' %}" title="">
                                        <span><img src="{% static 'tasdesk-frontend/images/icon4.png' %}" alt=""></span>
                                        Kayıt Ol
                                    </a>
                                </li>
                                 <li>
                                    <a href="{% url 'accounts:login_view' %}" title="">
                                        <span><img src="{% static 'tasdesk-frontend/images/icon4.png' %}" alt=""></span>
                                        Giriş Yap
                                    </a>
                                </li>

                            {% endif %}
						</ul>
					</nav><!--nav end-->
					<div class="menu-btn">
						<a href="#" title=""><i class="fa fa-bars"></i></a>
					</div><!--menu-btn end-->
                    {% if user.is_authenticated  %}
					<div class="user-account">
						<div class="user-info">
                            {% if user.user_detail.get.user_profile_image %}
                                <img src="{{ user.user_detail.get.user_profile_image.url }}" width="30" height="30" alt="">
                            {% else %}
                              <img src="http://via.placeholder.com/30x30" alt="">
                             {% endif %}

							<a href="#" title="">{{ request.user|truncatechars:5 }}</a>
							<i class="la la-sort-down"></i>
						</div>
						<div class="user-account-settingss">

							<h3>Ayarlar</h3>
							<ul class="us-links">
								<li><a href="profile-account-setting.html" title="">Hesap Ayarları</a></li>
								<li><a href="#" title="">İletişim</a></li>
								<li><a href="#" title="">Hakkımızda</a></li>
								<li><a href="#" title="">Hizmet Koşulları</a></li>
							</ul>
							<h3 class="tc"><a href="{% url 'accounts:logout' %}" title="">Çıkış Yap</a></h3>
						</div><!--user-account-settingss end-->
					</div>
                    {% endif %}
				</div><!--header-data end-->
			</div>
		</header><!--header end-->