{% extends 'tasdesk-frontend/layouts/master.html' %}
{% load static %}
{% block title %}Anasayfa {% endblock %}
{% block body %}
<main>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3 col-md-4 pd-left-none no-pd">
								<!-- **********leftmenu buraya entegre edilecek***** -->
                                {% include 'tasdesk-frontend/homepage/leftmenu.html' %}
								<!--main-left-sidebar end-->
							</div>
							<div class="col-lg-6 col-md-8 no-pd">
								<div class="main-ws-sec">
                                    {% if user.is_authenticated %}
									<div class="post-topbar">
										<div class="user-picy">
											<img src="http://via.placeholder.com/100x100" alt="">
										</div>
										<div class="post-st">
											<ul>

                                                    {% if user.is_designer == 1 %}
                                                    <li><a class="post_project" href="#" title="">Tasarım Paylaş</a></li>
                                                    {%  else %}
                                                    <li><a class="post-jb active" href="#" title="">İlan Paylaş</a></li>
                                                    {% endif %}

											</ul>
										</div><!--post-st end-->
									</div><!--post-topbar end-->
                                     {% endif %}
									<div class="posts-section">
                                        {% for post in posts %}

                                            {% if  post.class_name  == "Design" %}

                                                <div class="posty" style="margin-bottom:20px;">
                                            <div class="post-bar no-margin">
                                                <div class="post-bar">
                                                    <div class="post_topbar">
                                                        <div class="usy-dt">
                                                            {% if post.user.user_detail.get.user_profile_image %}
                                                                <img src="{{ post.user.user_detail.get.user_profile_image.url }}" width="50" height="50" alt="">
                                                            {% else %}
                                                                 <img src="http://via.placeholder.com/50x50" alt="">
                                                            {% endif %}

                                                            <div class="usy-name">
                                                                <h3>{{ post.user.get_full_name }}</h3>
                                                                <span><img
                                                                        src="{% static 'tasdesk-frontend/images/clock.png' %}"
                                                                        alt="">{{ post.publishing_date }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="ed-opts">
                                                            <a href="#" title="" class="ed-opts-open"><i
                                                                    class="la la-ellipsis-v"></i></a>
                                                            <ul class="ed-options">
                                                                <li><a href="#" title="">Tasarımı Düzenle</a></li>
                                                                <li><a href="#" title="">Sil</a></li>
                                                                <li><a href="#" title="">Gizle</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="epi-sec">
                                                        <ul class="descp">
                                                            <li><img
                                                                    src="{% static 'tasdesk-frontend/images/icon8.png' %}"
                                                                    alt=""><span>{{ post.user.user_detail.get.user_job}}</span></li>
                                                            <li><img
                                                                    src="{% static 'tasdesk-frontend/images/icon9.png' %}"
                                                                    alt=""><span>India</span></li>
                                                        </ul>
                                                        <ul class="bk-links">
                                                            <li><a href="#" title=""><i class="la la-bookmark"></i></a>
                                                            </li>
                                                            <li><a href="#" title=""><i class="la la-envelope"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="job_descp" >
                                                            {% if post.design_image %}
                                                            <img src="{{ post.design_image.url }}" style="max-height: 300px;max-width: 500px;">
                                                            {% endif %}
                                                    </div>
                                                    <div class="job_descp">
                                                        <h3 style="margin-top:10px" >{{ post.design_title }}</h3>
                                                        <h4>
                                                            <ul class="job-dt">
                                                                <li><a href="#"
                                                                       title="">{{ post.category.category_title }}</a>
                                                                </li>
                                                            </ul>
                                                            <p>
                                                        </h4>
                                                        {{ post.design_content|safe|linebreaks|truncatechars:150 }}
                                                        <a href="#" title="">daha fazla</a></p>
                                                    </div>
                                                    {% if user.is_authenticated %}
                                                        <div class="job-status-bar">

                                                            <ul class="like-com">
                                                                <li>
                                                                    <input type="hidden" name="design_id"
                                                                           value="{{ post.design_title }}">
                                                                    <input type="hidden" name="user_id"
                                                                           value="{{ request.user.get_full_name }}">
                                                                    <a onclick="designLike({{ post.id }})"><i
                                                                            class="la la-heart design-color-{{ post.id }}"></i></a>
                                                                    <img src="{% static 'tasdesk-frontend/images/liked-img.png' %}"
                                                                         alt="">
                                                                    <span><div
                                                                            id="design-total-like-{{ post.id }}">{{ post.total_likes }}</div></span>

                                                                </li>
                                                                <li><a onclick="designShowComment({{ post.id }})"
                                                                       class="com" id="design-total-comments-{{ post.id }}"><img
                                                                        src="{% static 'tasdesk-frontend/images/com.png' %}"
                                                                        alt=""> Yorum {{ post.comments.all.count }}</a>
                                                                </li>
                                                            </ul>
                                                            <a><i class="la la-eye"></i>Görüntülenme {{ post.views.all.count }}
                                                            </a>
                                                        </div>
                                                    {% endif %}
                                                </div><!--post-bar end-->
                                                <div id="design-comment-{{ post.id }}" style="display: none"
                                                     class="comment-section">
                                                    <div class="plus-ic">
                                                        <i class="la la-plus"></i>
                                                    </div>
                                                    <div class="comment-sec">
                                                        <ul>
                                                            {% for comment in post.comments.all %}
                                                                <li>
                                                                    <div class="comment-list">
                                                                        <div class="bg-img">
                                                                            {% if comment.user.user_detail.get.user_profile_image %}
                                                                                <img src="{{ comment.user.user_detail.get.user_profile_image.url }}" width="40" height="40" alt="">
                                                                            {% else %}
                                                                                 <img src="http://via.placeholder.com/40x40" alt="">
                                                                            {% endif %}

                                                                        </div>
                                                                        <div class="comment">
                                                                            <h3>{{ comment.user.get_full_name }}</h3>
                                                                            <span><img
                                                                                    src="{% static 'tasdesk-frontend/images/clock.png' %}"
                                                                                    alt=""> {{ comment.created_date }}</span>
                                                                            <p>{{ comment.comment_content|linebreaks }} </p>

                                                                        </div>
                                                                    </div><!--comment-list end-->
                                                                </li>

                                                            {% endfor %}
                                                            <li id="ajax-design-comment-{{ post.id }}"></li>
                                                        </ul>
                                                    </div><!--comment-sec end-->
                                                    <div class="post-comment">

                                                        <div class="comment_box">
                                                            <form class="design-form-comment" method="POST"
                                                                  action="{% url 'designs:createComment' %}"
                                                                  enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="design_id"
                                                                       value="{{ post.id }}">
                                                                <input type="hidden" name="user_id"
                                                                       value="{{ request.user.id }}">
                                                                <input type="text" name="comment_content"
                                                                       placeholder="Yorum Yaz">
                                                                <button type="submit">Gönder</button>
                                                            </form>
                                                        </div>
                                                    </div><!--post-comment end-->
                                                </div><!--comment-section end-->
                                            </div>
                                        </div>
                                            {% else %}

                                                <div class="posty" style="margin-bottom:20px;">
                                            <div class="post-bar no-margin">
                                                <div class="post-bar">
                                                    <div class="post_topbar">
                                                        <div class="usy-dt">
                                                            {% if post.user.user_detail.get.user_profile_image %}
                                                                <img src="{{ post.user.user_detail.get.user_profile_image.url }}" width="50" height="50" alt="">
                                                            {% else %}
                                                                 <img src="http://via.placeholder.com/50x50" alt="">
                                                            {% endif %}
                                                            <div class="usy-name">
                                                                <h3>{{ post.user.get_full_name }}</h3>
                                                                <span><img
                                                                        src="{% static 'tasdesk-frontend/images/clock.png' %}"
                                                                        alt="">{{ post.publishing_date }}</span>
                                                            </div>
                                                        </div>
                                                        <div class="ed-opts">
                                                            <a href="#" title="" class="ed-opts-open"><i
                                                                    class="la la-ellipsis-v"></i></a>
                                                            <ul class="ed-options">
                                                                <li><a href="#" title="">İlanı Düzenle</a></li>
                                                                <li><a href="#" title="">Sil</a></li>
                                                                <li><a href="#" title="">Gizle</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="epi-sec">
                                                        <ul class="descp">
                                                            <li><img
                                                                    src="{% static 'tasdesk-frontend/images/icon8.png' %}"
                                                                    alt=""><span>{{ post.user.user_detail.get.user_job}}</span></li>
                                                            <li><img
                                                                    src="{% static 'tasdesk-frontend/images/icon9.png' %}"
                                                                    alt=""><span>India</span></li>
                                                        </ul>
                                                        <ul class="bk-links">
                                                            <li><a href="#" title=""><i class="la la-bookmark"></i></a>
                                                            </li>
                                                            <li><a href="#" title=""><i class="la la-envelope"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="job_descp">
                                                        <h3>{{ post.advert_title }}</h3>
                                                        <h4>
                                                            <ul class="job-dt">
                                                                <li><a href="#"
                                                                       title="">{{ post.category.category_title }}</a>
                                                                </li>
                                                            </ul>
                                                            <p>
                                                        </h4>
                                                        {{ post.advert_content|safe|linebreaks|truncatechars:150 }}
                                                        <a href="#" title="">daha fazla</a></p>

                                                    </div>
                                                    {% if user.is_authenticated %}
                                                        <div class="job-status-bar">

                                                            <ul class="like-com">
                                                                <li>
                                                                    <input type="hidden" name="advert_id"
                                                                           value="{{ post.advert_title }}">
                                                                    <input type="hidden" name="user_id"
                                                                           value="{{ request.user.get_full_name }}">
                                                                    <a onclick="advertLike({{ post.id }})"><i
                                                                            class="la la-heart advert-color-{{ post.id }}"></i></a>
                                                                    <img src="{% static 'tasdesk-frontend/images/liked-img.png' %}"
                                                                         alt="">
                                                                    <span><div
                                                                            id="advert-total-like-{{ post.id }}">{{ post.total_likes }}</div></span>

                                                                </li>
                                                                <li><a onclick="advertShowComment({{ post.id }})"
                                                                       class="com" id="advert-total-comments-{{ post.id }}"><img
                                                                        src="{% static 'tasdesk-frontend/images/com.png' %}"
                                                                        alt=""> Yorum {{ post.comments.all.count }}</a></li>
                                                            </ul>
                                                            <a><i class="la la-eye"></i>Görüntülenme {{ post.views.all.count }}</a>
                                                        </div>{% endif %}
                                                </div><!--post-bar end-->
                                                <div id="advert-comment-{{ post.id }}" style="display: none"
                                                     class="comment-section">
                                                    <div class="plus-ic">
                                                        <i class="la la-plus"></i>
                                                    </div>
                                                    <div class="comment-sec">
                                                        <ul>
                                                            {% for comment in post.comments.all %}
                                                                <li>
                                                                    <div class="comment-list">
                                                                        <div class="bg-img">
                                                                           {% if comment.user.user_detail.get.user_profile_image %}
                                                                                <img src="{{ comment.user.user_detail.get.user_profile_image.url }}" width="40" height="40" alt="">
                                                                            {% else %}
                                                                                 <img src="http://via.placeholder.com/40x40" alt="">
                                                                            {% endif %}
                                                                        </div>
                                                                        <div class="comment">
                                                                            <h3>{{ comment.user.get_full_name }}</h3>
                                                                            <span><img
                                                                                    src="{% static 'tasdesk-frontend/images/clock.png' %}"
                                                                                    alt=""> {{ comment.created_date }}</span>
                                                                            <p>{{ comment.comment_content|linebreaks }} </p>

                                                                        </div>
                                                                    </div><!--comment-list end-->
                                                                </li>

                                                            {% endfor %}
                                                            <li id="ajax-advert-comment-{{post.id }}"></li>
                                                        </ul>
                                                    </div><!--comment-sec end-->
                                                    <div class="post-comment">

                                                        <div class="comment_box">
                                                            <form class="advert-form-comment" method="POST" action="{% url 'adverts:createComment' %}"
                                                                  enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="advert_id"
                                                                       value="{{ post.id }}">
                                                                <input type="hidden" name="user_id"
                                                                       value="{{ request.user.id }}">
                                                                <input type="text" name="comment_content"
                                                                       placeholder="Yorum Yaz">
                                                                <button type="submit">Gönder</button>
                                                            </form>
                                                        </div>
                                                    </div><!--post-comment end-->
                                                </div><!--comment-section end-->
                                            </div>
                                        </div>
                                            {% endif %}

                                    {% endfor %}
										<div class="process-comm">
											<div class="spinner">
												<div class="bounce1"></div>
												<div class="bounce2"></div>
												<div class="bounce3"></div>
											</div>
										</div><!--process-comm end-->
									</div><!--posts-section end-->
								</div><!--main-ws-sec end-->
							</div>
							<div class="col-lg-3 pd-right-none no-pd">
								<!-- *****Buraya rightmenu entegre edilecek***** -->
                                {% include 'tasdesk-frontend/homepage/rightmenu.html' %}
								<!--right-sidebar end-->
							</div>
						</div>
					</div><!-- main-section-data end-->
				</div> 
			</div>
		</main>
<!-- post a project -->
    {% include 'tasdesk-frontend/homepage/postaproject.html' %}
<!-- post a job -->
    {% include 'tasdesk-frontend/homepage/postajob.html' %}
<!-- chatbox-list-->
    {% include 'tasdesk-frontend/homepage/chatbox-list.html' %}
{%  endblock %}


{% block js %}
    <script>
        function advertLike(id) {
            $id = id;
            $.ajax({
                url: "{% url 'adverts:like' %}",
                method: 'POST',
                dataType: 'json',
                data: {
                    id: $id, csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (response) {
                    $('#advert-total-like-' + $id).html(response.likes_count);
                    if (response.message === '1') {
                        $('.advert-color-' + $id).css('color', 'red');
                    } else {
                        $('.advert-color-' + $id).css('color', '#b2b2b2');
                    }
                },
                error: function (rs, e) {
                    alert(rs.responseText);
                }
            });
        }
        function designLike(id) {
            $id = id;
            $.ajax({
                url: "{% url 'designs:like' %}",
                method: 'POST',
                dataType: 'json',
                data: {
                    id: $id, csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function (response) {
                    $('#design-total-like-' + $id).html(response.likes_count);
                    if (response.message === '1') {
                        $('.design-color-' + $id).css('color', 'red');
                    } else {
                        $('.design-color-' + $id).css('color', '#b2b2b2');
                    }
                },
                error: function (rs, e) {
                    alert(rs.responseText);
                }
            });
        }


        function advertShowComment(advert_id) {
            if (document.getElementById("advert-comment-" + advert_id).style.display === "none") {
                $("#advert-comment-" + advert_id).show();
                document.getElementById("advert-comment-" + advert_id).style.display = "block";
            } else {
                $("#advert-comment-" + advert_id).hide();
            }
        }
         function designShowComment(design_id) {
            if (document.getElementById("design-comment-" + design_id).style.display === "none") {
                $("#design-comment-" + design_id).show();
                document.getElementById("design-comment-" + design_id).style.display = "block";
            } else {
                $("#design-comment-" + design_id).hide();
            }
        }

        $(document).ready(function () {
           $('.advert-form-comment').submit(function (e){
               e.preventDefault();
               var form = $(this);
               var form_action = form.attr('action');
               var form_serialize = form.serialize();
               $.ajax({
                   method: "POST",
                   type:"json",
                   url: form_action,
                   data: form_serialize,
                   success: function (response) {
                       var commentline =
                           '<div class="comment-list">\n' +
                           '<div class="bg-img">\n' +
                           '<img src="http://via.placeholder.com/40x40"\n' +
                           'alt="">\n' +
                           '</div>\n' +
                           '<div class="comment">\n' +
                           '<h3>'+response.user+'</h3>\n' +
                           '<span><img\n' +
                           'src="{% static 'tasdesk-frontend/images/clock.png' %}"\n' +
                           'alt=""> 1 dakika önce</span>\n' +
                           '<p>'+response.content+' </p>\n' +
                           '\n' +
                           '</div>\n' +
                           '</div><!--comment-list end-->\n';
                       $('#ajax-advert-comment-' + response.advert_id).html(commentline);

                       var total_comments = '<img\n' +'src="{% static 'tasdesk-frontend/images/com.png' %}"\n' +
                           ' alt=""> Yorum '+response.total_comments ;

                        $('#advert-total-comments-' + response.advert_id).html(total_comments);
                   },
                   error: function (rs, e) {
                        alert(rs.responseText);
                   }
               });
           });
        });

        $(document).ready(function () {
            $('.design-form-comment').submit(function (e) {
                e.preventDefault();
                var form = $(this);
                var form_action = form.attr('action');
                var form_serialize = form.serialize();
                $.ajax({
                    method: "POST",
                    type: "json",
                    url: form_action,
                    data: form_serialize,
                    success: function (response) {
                        var commentline =
                            '<div class="comment-list">\n' +
                            '<div class="bg-img">\n' +
                            '<img src="http://via.placeholder.com/40x40"\n' +
                            'alt="">\n' +
                            '</div>\n' +
                            '<div class="comment">\n' +
                            '<h3>' + response.user + '</h3>\n' +
                            '<span><img\n' +
                            'src="{% static 'tasdesk-frontend/images/clock.png' %}"\n' +
                            'alt=""> 1 dakika önce</span>\n' +
                            '<p>' + response.content + ' </p>\n' +
                            '\n' +
                            '</div>\n' +
                            '</div><!--comment-list end-->\n';
                        $('#ajax-design-comment-' + response.design_id).html(commentline);

                        var total_comments = '<img\n' + 'src="{% static 'tasdesk-frontend/images/com.png' %}"\n' +
                            ' alt=""> Yorum ' + response.total_comments;

                        $('#design-total-comments-' + response.design_id).html(total_comments);
                    },
                    error: function (rs, e) {
                        alert(rs.responseText);
                    }
                });
            });
        });

    </script>
{% endblock %}